body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-color: #1c788c;
}
#container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#pictures{
    width: 700px;
}
.btn{
    background-color: #E2F6CA;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: none;
}
